<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredients</title>
    <link rel="stylesheet" href="../css/ingredients.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="navbar">
      <h2>Baegel.</h2>
      <div class="nav-list">
        <a href="../index.html">Recipes</a>
        <a href="#">Routines</a>
      </div>
    </div>
    <div class="container">
      <div class="ingredients-card">
        <h2>Ingredients</h2>

        <div class="ingredients">
          <ul>
            <li>Pasta</li>
            <li>Cheese</li>
            <li>Egg</li>
            <li>Bacon</li>
            <li>Pepper</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
